@model otorino.Models.ClienteViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contactanos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-group-sm" id="form">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.cliente.Servicio, htmlAttributes: new { @class = "control-lable col-md-2" })
        @Html.DropDownListFor(model => model.cliente.ServicioId, new SelectList(Model.NombreServicio, "Id", "Nombre"), "Selecciona el servicio ", new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.cliente.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.cliente.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cliente.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cliente.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.cliente.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cliente.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cliente.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.cliente.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cliente.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cliente.Otros, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cliente.Otros, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cliente.Otros, "", new { @class = "text-danger" })
        </div>
    </div>


    <small id="formHelp" class="form-text text-muted">No compartiremos tus datos con nadie.</small>
    <p></p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar" class="btn btn-primary disabled " />
        </div>
    </div>

    <p>Content here. <a class="show-alert" href=#>Alert!</a></p>
</div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}




